$background: #282b38;
$background-2: #363a4d;
$hover-efect: #89c249;
$basis: #e58d35;
$orang: #b26519;
$white: #ffffff;
$black: #000000;
$circul: #6c7188;
$border: #393e4b;
$input: #cbcbcb;
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);